<%= form_with(model: user, url: create_artist_dashboards_path, method: :post) do |form| %>

  <div class="mb-3">
    <%= form.label :email, style: "display: block", class: "form-label" %>
    <%= form.text_field :email, class: "form-control" %>
    <div style="color: red">
      <% if user.errors.include?(:email) %>
          <% user.errors.full_messages_for(:email).each do |error_message| %>
            <%= error_message %>.
          <% end %>
      <% end %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :password, style: "display: block", class: "form-label" %>
    <%= form.password_field  :password, class: "form-control" %>
    <div style="color: red">
      <% if user.errors.include?(:password) %>
          <% user.errors.full_messages_for(:password).each do |error_message| %>
            <%= error_message %>.
          <% end %>
      <% end %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.submit "Save", class: "btn btn-success btn-block" %>
  </div>
<% end %>
