<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "dashboard" %>
    <title>Dashboard</title>
</head>
<body>
<div id="main">
    <div class="dashboard">
        <header class="dashboard-header">
            <h1>Dashboard</h1>
        </header>
        <main class="dashboard-main">

            <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
            <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
            <%= stylesheet_link_tag "dashboard" %>

            <div class="search-date" id="search-by-day">
  <%= form_tag(search_by_day_patients_path, method: 'get') do %>
    <%= text_field_tag :day, params[:day], placeholder: 'Recherche (dd/mm/yyyy)' %>
    <%= submit_tag 'Search' %>
  <% end %>
</div>

            <h4>Patients vus</h4>
<div id="patient-cards-container">
  <% if @patients.present? %>
    <% @patients.each do |patient| %>
      <div class="patient-card">
        <h3><%= "#{patient.user.first_name} #{patient.user.last_name.upcase}" %></h3>
      </div>
    <% end %>
  <% else %>
    <p>Pas de patients trouvés</p>
  <% end %>
</div>


        </main>
    </div>
</body>
</html>
<div id="patient-count-container">
  <div class="patient-count-text">Nombre de patients vus aujourd'hui :</div>
  <span class="patient-count" id="patientCount"><%= @patient_count %></span>
</div>


            </div>
        </main>
    </div>
        </div>
</body>
</html>
