<div class="container-1200">
  <h1 class="appointment-h1">
  Dashboard
  </h1>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
            <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
            <%= stylesheet_link_tag "dashboard" %>

  <div class="search-date" id="search-by-day">
            <%= form_tag(search_by_day_patients_path, method: 'get') do %>
            <%= text_field_tag :day, params[:day] || Date.today.strftime('%d/%m/%Y'), placeholder: "Recherche par jj/mm/aaaa" %>
            <%= submit_tag 'Rechercher' %>
    <% end %>
    </div>
  <h4 class="dashboard-h3">Patients vus</h4>
  <div id="patient-cards-container">
    <% if @patients.present? %>
      <% @patients.each do |patient| %>
        <div class="patient-card">
          <h3><%= "#{patient.user.first_name} #{patient.user.last_name.upcase}" %></h3>
        </div>
      <% end %>
    <% else %>
      <p>Pas de patients trouvés</p>
    <% end %>
  </div>

</div>
