<div class="home-video-wrapper">
  <%= video_tag "Demo_Ordonet.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
  <div class="home-video-overlay"></div> <!-- Add the overlay -->
  <h1 class="hero-h1">
    Bienvenue sur Ordonet
  </h1>
  <h2 class="hero-h2">
    Digitalisez et sécurisez vos ordonnances en quelques clics
  </h2>
      <ul class="nav-links">
      <% if user_signed_in? %>
        <%= link_to "Dashboard", search_by_day_patients_path, class: 'primary-button' %>
        <%= link_to "Profile", root_path, class: 'primary-button' %>
        <%= link_to "Déconnexion", destroy_user_session_path, data: {turbo_method: :delete}, class: 'secondary-btn' %>
      <% else %>
        <%= link_to 'Connexion', new_user_session_path, class: 'primary-button' %>
        <%= link_to 'S\'inscrire', new_user_registration_path, class: 'secondary-btn' %>
      <% end %>
    </ul>
</div>
