

<div class="container-1200" data-controller="appointments">
  <div class="head-rdv">
    <div class="titles">
      <h1 class="appointment-h1" id="rdv">Mes Patients</h1>
      <h2 id="patient_name"><strong>Patient(e):</strong> <%= "#{@appointment.patient.user.first_name} #{@appointment.patient.user.last_name.upcase}" %></h2>
    </div>
  </div>
</div>


<div class="consultation-btn">
    <div>
        <p id="my-consults-btn" class="consults-btn">Mes consultations</p>
    </div>
    <div>
        <p id="all-consults-btn" class="consults-btn">Toutes les consultations</p>
    </div>
</div>


  <% prev_year = nil %>
  <% prev_month = nil %>

<div id="my-consults" class="consultation-content">
  <%@myConsults = Appointment.where(patient_id: @appointment.patient.id, doctor_id: current_user.doctor.id)%>
  <% if @myConsults.empty? %>
    <p>No data</p>
  <% else %>
  <%@myConsults.each do |consultation|%>
    <% current_year = consultation.created_at.strftime("%Y") %>
    <% current_month = consultation.created_at.strftime("%B") %>
    <div class="detail-consult">
      <div class="year_month">
        <% if current_year != prev_year %>
          <div class="year">
          <% year = consultation.created_at.strftime("%Y") %>
          <p><%=year%></p>
        <%end%>
        </div>
        <% if current_month != prev_month %>
          <div class="month">
          <% month = consultation.created_at.strftime("%B") %>
          <p><%=month%></p>
        </div>
        <% end %>
        <% prev_year = current_year %>
        <% prev_month = current_month %>
      </div>
      <div class="card-consult">
        <div class="presentation-consult">
          <p class="doctor-name d-inline"><strong><%="Dr.#{consultation.doctor.user.last_name.upcase} #{consultation.doctor.user.first_name}: "%></strong> <%="#{consultation.doctor.specialty}"%></p>
          <% if consultation.content.nil? %>
            <%= link_to edit_appointment_path(@appointment), data: { turbo_frame: "remote_modal" }, class: 'decoration-none' do %>
              <p>✒️ Ajouter une note</p>
            <% end %>
            <%#= link_to "✒️ Ajouter une note", edit_appointment_path(@appointment), data: { turbo_frame: "remote_modal" }, class: 'decoration-none' %>
          <% else %>
          <h5> <%= "✒️ #{consultation.content}"%></h5>
          <% end %>
        </div>
        <div class="pdf-consult">
          <div>
          <%# <%= link_to "Voir le PDF", consultation.ordonnance.pdf.url, target: "_blank" do%>
          <i class="fa-solid fa-file-pdf fa-2xl" style="color: #3575aa;"></i>
          <i class="fa-solid fa-download fa-l" style="color: #e5e5e5;"></i>
          <i class="fa-regular fa-eye fa-l" style="color: #e5e5e5;"></i>
          </div>
        </div>
      </div>
    <div id="editForm_<%= consultation.id %>" style="display:none;">
      <%= render partial: 'appointments/edit_form', locals: { appointment: consultation } %>
    </div>
    <%end%>
    <%end%>
    </div>
</div>

  <% prev_year = nil %>
  <% prev_month = nil %>
<div id="all-consults" class="consultation-content" style="display: none;">
  <!-- Contenu de Toutes les consultations -->
  <%@consultations = Appointment.where(patient_id: @appointment.patient.id)%>
  <% if @consultations.empty? %>
    <p>No data</p>
  <% else %>
  <%@consultations.each do |consultation|%>
    <div class="detail-consult">
      <div class="year_month">
        <% current_year = consultation.created_at.strftime("%Y") %>
        <% current_month = consultation.created_at.strftime("%B") %>
        <% if current_year != prev_year %>
          <div class="year">
          <% year = consultation.created_at.strftime("%Y") %>
          <p><%=year%></p>
        <%end%>
        </div>
        <% if current_month != prev_month %>
          <div class="month">
          <% month = consultation.created_at.strftime("%B") %>
          <p><%=month%></p>
        </div>
        <% end %>
        <% prev_year = current_year %>
        <% prev_month = current_month %>
      </div>
      <div class="card-consult">
        <div class="presentation-consult">
          <p class="doctor-name d-inline"><strong><%="Dr.#{consultation.doctor.user.last_name.upcase} #{consultation.doctor.user.first_name}: "%></strong> <%="#{consultation.doctor.specialty}"%></p>
          <h5> <%= "✒️ #{consultation.content}"%></h5>
        </div>
        <div class="pdf-consult">
          <div>
          <%# <%= link_to "Voir le PDF", consultation.ordonnance.pdf.url, target: "_blank" do%>
          <i class="fa-solid fa-file-pdf fa-2xl" style="color: #3575aa;"></i>
          <i class="fa-solid fa-download fa-l" style="color: #e5e5e5;"></i>
          <i class="fa-regular fa-eye fa-l" style="color: #e5e5e5;"></i>
          </div>
        </div>
      </div>
    <%end%>
    <%end%>
    </div>
</div>
