<div>
  <h1 class="appointment-h1">Création d'une ordonnance</h1>
    <% if !@ordonnance.qr_generated %>
      <div class="container-heading">
      <%= link_to 'Valider l\'ordonnance', generate_qrcode_appointment_ordonnance_path(@appointment, @ordonnance, ordonnance_number: @ordonnance.ordonnance_number), remote: true, id: 'generate_qrcode_button', class: 'primary-button' %>
          </div>
    <% else @ordonnance.qr_generated %>
     <div class="container-heading">
      <button type="button" class="primary-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Envoyer l'ordonnance
    </button>
      </div>
    <% end %>

</div>

<div class="container-ordonnance">

<div class="container-infos-ordonnance">
  <div>
    <p><strong>Médecin :</strong> Dr. <%= current_user.first_name %> <%= current_user.last_name %></p>
    <p> <strong>Numéro d'accréditation :</strong> <%= current_user.doctor.accreditation_number %></p>
  </div>
  <div>
    <p><strong>Patient :</strong> <%= @appointment.patient.user.first_name %> <%= @appointment.patient.user.last_name %></p>
  </div>
</div>
  <div class="container-infos-ordonnance">
    <div class="pt-3"><p><strong>Date de la consultation :</strong> <%= @appointment.appointment_date.strftime("%d/%m/%Y") %></p></div>
  </div>

<div class = "container-medicaments-ordonnance">
  <div><p><strong>Prescription :</strong></p></div>
  <%= turbo_frame_tag "meds", target: "_top" do %>
      <% OrdoMedication.where(ordonnance_id: @ordonnance.id).each do |ordo_medication| %>
      <div class="bold">
      <%= "#{Medication.find(ordo_medication.medication_id).name} - #{ordo_medication.frequency} prises par jour pendant #{ordo_medication.duration} jours"%></div>
      <div class="commentary"><%= ordo_medication.commentary %></div>
        <% end %>
  <% end %>
</div>

<!-- Display the QR code using Turbo Frames -->
<div class="ordonnance-qrcode">
<%= turbo_frame_tag "qrcode_frame", target: "_top" do %>
  <!-- Display the QR code image here using the helper method -->
  <%= image_tag(qr_code_image_path(@ordonnance)) %>
<% end %>
</div>

<%= link_to new_appointment_ordonnance_ordo_medication_path(@appointment, @ordonnance), data: { turbo_frame: "remote_modal" }, class: 'decoration-none' do %>
  <div class="svg-container">
    <svg xmlns="http://www.w3.org/2000/svg" width="102" height="102" viewBox="0 0 102 102" fill="none">
    <path d="M51 8.5C27.54 8.5 8.5 27.54 8.5 51C8.5 74.46 27.54 93.5 51 93.5C74.46 93.5 93.5 74.46 93.5 51C93.5 27.54 74.46 8.5 51 8.5ZM68 55.25H55.25V68C55.25 70.3375 53.3375 72.25 51 72.25C48.6625 72.25 46.75 70.3375 46.75 68V55.25H34C31.6625 55.25 29.75 53.3375 29.75 51C29.75 48.6625 31.6625 46.75 34 46.75H46.75V34C46.75 31.6625 48.6625 29.75 51 29.75C53.3375 29.75 55.25 31.6625 55.25 34V46.75H68C70.3375 46.75 72.25 48.6625 72.25 51C72.25 53.3375 70.3375 55.25 68 55.25Z" fill="#61A8D3"/>
    </svg>
    <p>Ajouter un médicament</p>
</div>
  <% end %>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="appointment-h3 center" id="exampleModalLabel">Envoyer l'ordonnance</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><strong>Email:</strong> <%= @appointment.patient.user.email %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary">Envoyer l'email</button>
      </div>
    </div>
  </div>
</div>
