<h1 class="appointment-h1">Nouveau rendez-vous</h1>
<div class="container-form pt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">



<%= simple_form_for :non_model_form do |f|%>
<div class="form-inputs appointment-container">
  <h3 class="appointment-h3">Le patient est déjà enregistré</h3>
    <div class="row">
    <%= f.input :first_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "Nom" },
                class: "appointment-input"%>
    <%= f.input :last_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "Prénom" }, class: 'col-6 mb-3'%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up", class: 'primary-btn'%>
    <%= f.button :submit, "Log in", class: 'secondary-btn'%>
  </div>
    </div>
  </div>

<% end %>

  </div>
  </div>
</div>
