<%= simple_form_for :ordo_medication, url: appointment_ordonnance_ordo_medications_path, method: :post do |f| %>

  <div class="form-inputs">
    <%= f.input :medication_id, collection: Medication.all.map { |medication| [medication.name, medication.id] }, label: "Médicament",
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "Médication" }%>
    <%= f.input :frequency,label: "Nombre de doses par jour",
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "Fréquency" }%>
    <%= f.input :duration,label: "Durée du traitement en jours",
                required: true,
                autofocus: true,
                input_html: { autocomplete: "Durée" }%>
    <%= f.input :commentary,label: "Informations complémentaires",
    autofocus: true,
    input_html: { autocomplete: "Informations Complémentaires" }%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Valider", class: 'register-button' %>
  </div>
<% end %>
