<!DOCTYPE html>
<html>
  <head>
    <title>Ordonet</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&amp;display=swap'>

    <link rel="icon" href="<%= asset_path('logo_blue.png') %>" type="image/png" class="favicon">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <% if user_signed_in? && current_user.doctor.present? %>
        <%= render 'shared/sidenav' %>
    <% end %>
    <%= turbo_frame_tag "remote_modal", target: "_top" %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
